.parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: darkslateblue;
    box-shadow: 2px 2px 15px 1px rgba(160, 23, 23, 0.596);
    border-radius: .5rem;
    padding: 5px;
    margin: 5px;
}

.taskname{
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    min-width: 75%;
    color: lightcoral;
}

.warning{
    background-color: coral;
    color: lightgoldenrodyellow;
    font-family: 'Quicksand', sans-serif;
    font-size: large;
    font-weight: bold;
    text-align: center;
    min-width: 30%;
    margin-bottom: .75rem;
    padding: 2px 20px;
    border-radius: 10px;
}

.completed{
    color:limegreen;
    border: 2px rgba(0, 255, 0, 0.432) solid;
}
