.parent{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: minmax(50px, 1fr);
    padding: 1rem 2rem 0 2rem;
    max-height: 3.5rem;
}

.label{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 85%;
    text-overflow: ellipsis;
    color: lightsalmon;
    background-color: darkslateblue;
    border-radius: .5rem;
    padding-top: .75rem;
    text-align: center;
    max-height: 2rem;
}

.spinner{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
    text-align: center;
    border: none;
    outline: none;
    box-shadow: inset .1rem .1rem .5rem 2px rgba(25, 25, 112, 0.445);
    border-radius: .5rem;
    margin-left: .25rem;
    padding: 0.5rem;
    max-height: 1.75rem;
}