.parent{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    
    padding: 1rem;
    background: linear-gradient(0deg, rgba(206,228,255,1) 0%, rgba(202,190,255,1) 40%, rgba(217,201,255,1) 100%);
}